/* Search */

#bookdb-search-for-existing-book {
    .bookdb-input-wrapper {
        display: flex;
        float: none;
        max-width: 550px;
    }

    select, button {
        height: auto;
    }
}

#bookdb-existing-book-results {
    border-bottom: 1px solid #ddd;
    margin-bottom: 2em;
    padding-bottom: 2em;

    .spinner {
        float: none;
    }
}

#bookdb-search-field {
    margin: 0 5px;
}

@media only screen and (max-width: 480px) {
    .bookdb-book-form {
        // @todo columns
    }
}