.ac_results {
  z-index: 100060; }

.bookdb-modal-container {
  display: none; }

.bookdb-modal-backdrop {
  background: black;
  min-height: 360px;
  opacity: 0.7;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100000; }

.bookdb-modal {
  position: fixed;
  top: 30px;
  left: 30px;
  right: 30px;
  bottom: 30px;
  z-index: 100050; }
  .bookdb-modal * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

.bookdb-modal-close {
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  z-index: 1000;
  -webkit-transition: color 0.1s ease-in-out,background 0.1s ease-in-out;
  transition: color 0.1s ease-in-out,background 0.1s ease-in-out; }
  .bookdb-modal-close .bookdb-modal-icon:before {
    color: #666;
    content: "\f158";
    font: 400 20px/1 dashicons;
    speak: none;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.bookdb-modal-content {
  background: #fcfcfc;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7);
  min-height: 300px;
  overflow: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-font-smoothing: subpixel-antialiased; }
  .bookdb-modal-content ::-webkit-input-placeholder {
    color: #999;
    opacity: 0.5; }
  .bookdb-modal-content :-moz-placeholder {
    color: #999;
    opacity: 0.5; }
  .bookdb-modal-content ::-moz-placeholder {
    color: #999;
    opacity: 0.5; }
  .bookdb-modal-content :-ms-input-placeholder {
    color: #999;
    opacity: 0.5; }

.bookdb-frame {
  overflow: hidden;
  right: 0; }

.bookdb-frame,
.bookdb-frame-menu {
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0; }

.bookdb-frame-menu {
  width: 200px;
  z-index: 150; }

.bookdb-frame-title .dashicons,
.bookdb-frame.hide-router .bookdb-frame-router {
  display: none; }

.bookdb-frame-title {
  height: 50px;
  top: 0; }

.bookdb-frame-router,
.bookdb-frame-title {
  position: absolute;
  left: 200px;
  right: 0;
  z-index: 200; }

.bookdb-menu-item {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

.bookdb-menu {
  border-right: 1px solid #ccc;
  margin: 0;
  position: absolute;
  left: 0;
  user-select: none; }

.bookdb-menu,
.bookdb-sidebar {
  background: #f3f3f3;
  top: 0;
  bottom: 0;
  right: 0; }

.bookdb-menu .active,
.bookdb-menu .active:hover {
  color: #23282d;
  font-weight: 700; }

.bookdb-menu > a {
  color: #0073aa;
  display: block;
  margin: 0;
  position: relative;
  padding: 8px 20px; }

.bookdb-menu > a,
.bookdb-router > a {
  font-size: 14px;
  line-height: 18px;
  text-decoration: none; }

.bookdb-frame a {
  border-bottom: none;
  color: #0073aa; }

.bookdb-frame .hidden {
  display: none; }

.bookdb-menu .separator {
  border-top: 1px solid #ddd;
  height: 0;
  margin: 12px 20px;
  padding: 0; }

.bookdb-frame-title h1 {
  font-size: 22px;
  line-height: 50px;
  margin: 0;
  padding: 0 16px; }

.bookdb-frame-router {
  height: 36px;
  top: 50px; }

.bookdb-router {
  clear: both;
  margin: 0;
  position: relative;
  padding: 0 6px;
  user-select: none; }
  .bookdb-router:not(.active) {
    display: none; }

.bookdb-router > a {
  float: left;
  height: 18px;
  margin: 0;
  padding: 8px 10px 9px;
  position: relative; }

.bookdb-router a {
  -webkit-transition: none;
  transition: none; }

.bookdb-router > a:last-child {
  border-right: 0; }

.bookdb-router .active,
.bookdb-router > a.active:last-child {
  background: #fff;
  border: 1px solid #ddd;
  border-bottom: none;
  margin: -1px -1px 0; }

.bookdb-router .active,
.bookdb-router .active:hover {
  color: #32373c; }

.bookdb-frame-content {
  background: #fff;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin: 0;
  overflow: auto;
  position: absolute;
  top: 84px;
  left: 200px;
  right: 0;
  bottom: 61px;
  height: auto;
  width: auto; }

.bookdb-frame-content-tab {
  margin: 20px; }
  .bookdb-frame-content-tab:not(.active) {
    display: none; }

.bookdb-frame-toolbar {
  height: 60px;
  position: absolute;
  left: 200px;
  right: 0;
  bottom: 0;
  z-index: 100; }

.bookdb-toolbar {
  border: 0 solid #ddd;
  height: 60px;
  overflow: hidden;
  padding: 0 16px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100; }

.bookdb-modal-content .bookdb-toolbar-primary.search-form {
  width: 33%; }

.bookdb-toolbar-primary {
  float: right;
  height: 100%; }

.bookdb-modal-content .bookdb-toolbar-primary .bookdb-button {
  float: right; }

.bookdb-toolbar-primary > .bookdb-button,
.bookdb-toolbar-primary > .bookdb-button-group {
  float: left;
  margin-left: 10px;
  margin-top: 15px; }

@media only screen and (max-width: 900px) {
  .bookdb-frame:not(.hide-menu) .bookdb-frame-title .dashicons {
    display: inline-block;
    line-height: 50px; }

  .bookdb-frame:not(.hide-menu) .bookdb-frame-menu {
    position: static;
    width: 0; }

  .bookdb-frame:not(.hide-menu) .bookdb-frame-title {
    left: 0; }

  .bookdb-frame:not(.hide-menu) .bookdb-frame-content,
  .bookdb-frame:not(.hide-menu) .bookdb-frame-router,
  .bookdb-frame:not(.hide-menu) .bookdb-frame-title,
  .bookdb-frame:not(.hide-menu) .bookdb-frame-toolbar {
    left: 0; }

  .bookdb-frame:not(.hide-menu) .bookdb-menu.visible {
    left: 0; }

  .bookdb-frame:not(.hide-menu) .bookdb-menu {
    border: 1px solid #ccc;
    max-width: 80%;
    overflow: auto;
    padding: 5px 0;
    top: 50px;
    left: -300px;
    right: auto;
    bottom: auto;
    width: auto;
    z-index: 2000; }

  .bookdb-frame:not(.hide-menu) .bookdb-menu > a.active {
    display: none; }

  .bookdb-frame:not(.hide-menu) .bookdb-menu > a {
    font-size: 16px;
    padding: 12px 16px; }

  .bookdb-frame:not(.hide-menu) .bookdb-menu .separator {
    margin: 5px 10px; }

  .bookdb-frame:not(.hide-menu) .bookdb-frame-title h1 {
    color: #0073aa;
    cursor: pointer;
    float: left;
    font-size: 18px;
    line-height: 3; } }
@media only screen and (max-width: 640px), screen and (max-height: 400px) {
  .bookdb-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
    .bookdb-modal .bookdb-frame-title {
      height: 40px; } }
@media only screen and (max-width: 480px) {
  .bookdb-frame:not(.hide-menu) .bookdb-frame-title .dashicons {
    line-height: 40px; }

  .bookdb-frame-router,
  .bookdb-frame:not(.hide-menu) .bookdb-menu {
    top: 40px; }

  .bookdb-frame:not(.hide-menu) .bookdb-frame-title h1,
  .bookdb-modal .bookdb-frame-title h1 {
    font-size: 18px;
    line-height: 40px; }

  .bookdb-frame-content {
    top: 74px; } }
/* Search */
#bookdb-search-for-existing-book .bookdb-input-wrapper {
  display: flex;
  float: none;
  max-width: 550px; }
#bookdb-search-for-existing-book select, #bookdb-search-for-existing-book button {
  height: auto; }

#bookdb-existing-book-results {
  border-bottom: 1px solid #ddd;
  margin-bottom: 2em;
  padding-bottom: 2em; }
  #bookdb-existing-book-results .spinner {
    float: none; }

#bookdb-search-field {
  margin: 0 5px; }

.bookdb-grid-pub-date-start-wrap, .bookdb-grid-pub-date-end-wrap {
  float: left;
  max-width: 225px; }

.bookdb-modal-button span {
  display: inline-block;
  margin: 0 2px;
  width: 18px;
  height: 18px;
  vertical-align: text-top; }
  .bookdb-modal-button span:before {
    color: #82878c; }

/*# sourceMappingURL=modal.css.map */
