.book-database-grid {
  display: flex;
  flex-flow: row wrap;

  > figure {
    flex: 0 50%;
    margin: 0;
    padding: 15px;

    @media (min-width: 768px) {
      flex: 0 33.3%;
    }

    @media (min-width: 992px) {
      flex: 0 25%;
    }
  }
}