.toplevel_page_bdb-books {
    #cover {
        width: 150px;
    }
}

#bookdb-book-associated-with-review {
    clear: both;
    line-height: 1.8;

    &:before, &:after {
        clear: both;
        content: '';
        display: table;
    }

    .alignleft {
        margin-right: 1.5em;
    }

    blockquote {
        font: {
            style: italic;
        }
    }
}

.bdb-books-in-series-wrap {
    display: flex;
    flex-flow: row wrap;
    margin: 0 -5px;

    &, * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    > a {
        flex: 0 50%;
        padding: 0 5px 5px;

        img {
            display: block;
            height: auto;
            max-width: 100%;
        }
    }
}