.bdb-currently-reading-widget-list {
    display: flex;
    flex-flow: row wrap;
    text-align: center;

    li {
        flex: 0;
        padding: 1em;
    }
}

.bdb-currently-reading-progress {
    background: #f4f4f4;
    height: 20px;
    margin-bottom: 1em;
    position: relative;
}

.bdb-currently-reading-progress-bar {
    background: #0085ba; // @todo themeify
    height: 20px;
}

.bdb-currently-reading-progress-number {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}