#bdb-book-index-title-custom {
    display: none;
}

@media (min-width: 768px) {
    #bdb-book-series-name-wrap {
        float: left;
        max-width: 400px;
        width: 60%;
    }

    #bdb-book-series-position-wrap {
        float: left;
        max-width: 150px;
        width: 30%;
    }
}