#bdb-book-index-title-custom {
    display: none;
}

@media (min-width: 768px) {
    #bdb-book-series-name-wrap {
        float: left;
        max-width: 400px;
        width: 60%;
    }

    #bdb-book-series-position-wrap {
        float: left;
        max-width: 150px;
        width: 30%;
    }
}

.bdb-books-in-series-wrap {
    display: flex;
    flex-flow: row wrap;
    margin: 0 -5px;

    &, * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    > a {
        flex: 0 50%;
        padding: 0 5px 5px;

        img {
            display: block;
            height: auto;
            max-width: 100%;
        }
    }
}

#bdb-book-purchase-links {
    input[type="text"] {
        display: inline-block;
        min-width: 300px;
        width: auto;
    }
}

#bdb-new-edition-fields,
#bdb-new-reading-log-fields,
.bdb-table-edit-value {
    display: none;
}

.bdb-table-edit-value {
    display: none;

    input, select {
        max-width: 100%;
    }
}

#bdb-book-reading-logs-list {
    > h2 {
        > label {
            float: right;
            font: {
                size: 12px;
                weight: normal;
            }
        }
    }
}