.bdb-admin-page {
    .postbox {
        > h2 {
            border-bottom: 1px solid #eee;
        }
    }
}

.bdb-meta-row {
    margin: 1.5em 0;

    > label {
        display: block;
        font: {
            weight: 600;
        }
    }

    @media (min-width: 900px) {
        clear: both;
        overflow: hidden;

        > label {
            float: left;
            margin: 0;
            width: 18%;
        }

        .bdb-meta-value {
            float: right;
            width: 80%;
        }
    }
}