#bookdb-book-page-wrapper,
#bookdb-review-page-wrapper {
    .postbox {
        > h2 {
            border-bottom: 1px solid #eee;
            font: {
                size: 14px;
            }
            line-height: 1.4;
            margin: 0;
            padding: 8px 12px;
        }
    }
}

.bookdb-box-row {
    margin: 1.5em 0;

    @media (min-width: 900px) {
        clear: both;
        overflow: hidden;
    }

    label {
        display: block;
        font: {
            weight: 600;
        }
        margin-bottom: 3px;

        @media (min-width: 900px) {
            float: left;
            margin: 0;
            width: 18%;
        }

        &.bookdb-description {
            float: none !important;
            font: {
                weight: normal !important;
            }
            width: auto !important;
        }
    }

    textarea,
    input[type="text"]:not(.bookdb-color-picker):not(.text-small),
    input[type="url"] {
        display: block;
        width: 99%;
    }

    .regular-text {
        max-width: 550px;
    }

    .text-small,
    input[type="number"] {
        display: inline-block;
        width: auto;
    }

    textarea {
        min-height: 250px;
    }

    .bookdb-description {
        color: #666;
        display: block;
        font: {
            size: 13px;
            style: italic;
        }
        margin: 2px 0 5px;
    }

    @media (min-width: 900px) {
        .bookdb-input-wrapper {
            float: right;
            width: 80%;
        }
    }
}

#index_title_custom {
    display: none;
}

@media (min-width: 768px) {
    .bookdb-half {
        float: left;
        width: 48%;

        &.last {
            float: right;
        }
    }

    #bookdb-book-series-wrap {
        .bookdb-input-wrapper {
            clear: both;
            overflow: hidden;
        }
    }

    #bookdb-book-series-name-wrap {
        float: left;
        max-width: 400px;
        width: 60%;
    }

    #bookdb-book-series-position-wrap {
        float: left;
        max-width: 150px;
        width: 30%;
    }
}

/* Save Box */
#bookdb-review-page-wrapper,
#bookdb-book-page-wrapper {
    #major-publishing-actions {
        clear: both;
        overflow: hidden;
    }

    #delete-action {
        a {
            color: #a00;
            text-decoration: none;

            &:hover {
                color: red;
            }
        }
    }
}

/* Tags */
.bookdb-tags-wrap,
.bookdb-new-checkbox-term {
    input[type="text"] {
        float: left;
        height: 28px;
        margin: 0 4px 0 0;
        max-width: 504px;
        position: relative;
    }

    input[type="button"] {

    }
}

.bookdb-tags-checklist {
    clear: both;
    font: {
        size: 12px;
    }
    margin-left: 14px;
    overflow: auto;

    &:before, &:after {
        clear: both;
        content: ' ';
        display: table;
    }

    span {
        cursor: default;
        display: block;
        float: left;
        font: {
            size: 13px;
        }
        line-height: 1.8em;
        margin-right: 25px;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;

        a {
            cursor: pointer;
            display: block;
            float: left;
            margin: 1px 0 0 -17px;
            width: 20px;
            height: 20px;
            overflow: hidden;
            position: absolute;
            text-indent: 0;

            &:before {
                background: none;
                color: #b4b9be;
                content: "\f153";
                display: block;
                font: normal 16px/20px dashicons;
                margin: 1px 0;
                height: 20px;
                width: 20px;
                speak: none;
                text-align: center;
                -webkit-font-smoothing: antialiased;
            }

            &:hover:before {
                color: #c00;
            }
        }
    }
}

/* "Categories" */

.bookdb-taxonomy-checkboxes {
    label {
        float: none;
        font: {
            weight: normal;
        }
        margin-bottom: 3px;
        width: auto;
    }
}

.bookdb-checkbox-wrap {
    background: #fdfdfd;
    border: 1px solid #ddd;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 1em;
    max-height: 150px;
    max-width: 550px;
    overflow-y: scroll;
    padding: .9em;
}

/* Reviews on Posts */

#bdb-book-review-list,
#bdb_book_reviews {
    table {
        margin-bottom: 1em;

        th {
            font-weight: 600;
        }
    }
}

#bookdb-add-review-search-for-book {
    display: flex;

    select {
        margin-left: 4px;
        margin-right: 4px;
    }
}

#bookdb-add-review-fields,
#bookdb-add-review-fields-wrap {
    display: none;

    .spinner {
        float: none;
    }
}