.bookdb-box-row {
    margin: 1.5em 0;

    @media (min-width: 900px) {
        clear: both;
        overflow: hidden;
    }

    label {
        display: block;
        font: {
            weight: 600;
        }
        margin-bottom: 3px;

        @media (min-width: 900px) {
            float: left;
            margin: 0;
            width: 18%;
        }
    }

    textarea,
    input[type="text"]:not(.bookdb-color-picker):not(.text-small),
    input[type="url"] {
        display: block;
        width: 99%;
    }

    .regular-text {
        max-width: 550px;
    }

    .text-small,
    input[type="number"] {
        display: inline-block;
        width: auto;
    }

    textarea {
        min-height: 250px;
    }

    .bookdb-description {
        color: #666;
        display: block;
        font: {
            size: 13px;
            style: italic;
        }
        margin: 2px 0 5px;
    }

    @media (min-width: 900px) {
        .bookdb-input-wrapper {
            float: right;
            width: 80%;
        }
    }
}

@media (min-width: 768px) {
    .bookdb-half {
        float: left;
        width: 48%;

        &.last {
            float: right;
        }
    }

    #bookdb-book-series-wrap {
        .bookdb-input-wrapper {
            clear: both;
            overflow: hidden;
        }
    }

    #bookdb-book-series-name-wrap {
        float: left;
        max-width: 400px;
        width: 60%;
    }

    #bookdb-book-series-position-wrap {
        float: left;
        max-width: 150px;
        width: 30%;
    }
}

/* Save Box */
#ubb-book-page-wrapper {
    #major-publishing-actions {
        clear: both;
        overflow: hidden;
    }

    #delete-action {
        a {
            color: #a00;
            text-decoration: none;

            &:hover {
                color: red;
            }
        }
    }
}