#bdb-book-reading-log,
#bdb-book-editions-list {
    table {
        margin-bottom: 1.5em;

        input[type="text"],
        input[type="number"] {
            display: block;
            width: 100%;
        }
    }
}

#bookdb-read-book-fields,
#bookdb-owned-edition-fields,
.bookdb-reading-log-edit-value,
.bookdb-owned-edition-edit-value {
    display: none;
}