#bdb-review-analytics-wrap {
    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
}

.bdb-metric {
    margin: 20px 0;
    position: relative;

    .top-text {
        clear: both;
        color: #999;
        font-size: 14px;
    }

    h2 {
        color: #0073aa;
        font: {
            size: 32px;
            weight: bold;
        }
        margin: 0;
        padding: 0;
    }
}

.bdb-metric-inner {
    background: white;
    border: 1px solid #e5e5e5;
    padding: 10px;
    text-align: center;
}

@media (min-width: 1200px) {
    #bdb-review-analytics-metrics {
        display: flex;
        flex-flow: row wrap;
        margin: 0 -20px;
    }

    .bdb-analytics-column {
        padding: 0 20px;
        width: 33.3%;
    }

    // Books read
    .bdb-metric-multi-col {
        display: flex;
        padding-bottom: 30px;

        > div {
            flex: 1;
        }
    }
}

// Book List
#book-list,
#read-not-reviewed {
    .book-rating {
        display: inline-block;
        min-width: 60px;

        &.five-stars,
        &.four-half-stars,
        &.four-stars {
            color: #090;
        }

        &.three-half-stars,
        &.three-stars,
        &.two-half-stars {
            color: #da9d1c;
        }

        &.two-stars,
        &.one-half-stars,
        &.one-star,
        &.half-star,
        &.zero-stars,
        &.dnf {
            color: #c00;
        }
    }
}

// Tables
.bdb-metric {
    table {
        margin: 1em auto;
        text-align: left;
        width: 100%;

        th {
            background: #f9f9f9;
            border-bottom: 1px solid #eee;
            font-weight: 600;
        }

        th, td {
            padding: 10px;
        }

        tbody {
            tr:nth-child(even) {
                background: #f9f9f9;
            }
        }
    }
}