.bdb-analytics-block {
    flex-grow: 1;
    position: relative;

    &.bdb-dataset-type-value,
    &.bdb-dataset-type-dataset {
        text-align: center;
    }

    &.bdb-dataset-type-graph {
        max-width: 100%;
        width: inherit !important;

        canvas {
            width: auto;
        }
    }

    &.bdb-dataset-type-dataset {
        display: flex;

        .bdb-dataset-section {
            flex-grow: 1;
            flex-basis: 0;
        }
    }

    .spinner {
        float: none;
    }

    .bdb-dataset-value {
        font-size: 16px;
    }

    .bdb-dataset-period {
        background: white;
        border: 1px solid #e5e5e5;
        border-bottom-color: white;
        border-right-color: white;
        border-top-left-radius: 8px;
        color: #aaa;
        margin: 0 -1px -1px 0;
        padding: 4px 0 0 9px;
        position: absolute;
        bottom: 0;
        right: 0;
    }
}