#bookdb-review-analytics-wrap {
    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
}

@media (min-width: 600px) {
    #bookdb-review-analytics-metrics {
        display: flex;
        flex-flow: row wrap;
        margin: 0 -20px;
    }

    .bookdb-metric {
        padding: 20px;
        width: 50%;
    }

    .bookdb-metric-inner {
        background: white;
        border: 1px solid #e5e5e5;
        padding: 10px;
        text-align: center;
    }
}

@media (min-width: 768px) {
    #bookdb-review-analytics-metrics {
        float: left;
        width: 66%;
    }

    #bookdb-list-of-reviews {
        float: right;
        width: 33%;

        .bookdb-metric {
            width: 100%;
        }
    }
}

.bookdb-metric {
    position: relative;

    .top-text {
        clear: both;
        color: #999;
        font-size: 14px;
    }

    h2 {
        color: #0073aa;
        font: {
            size: 32px;
            weight: bold;
        }
        margin: 0;
        padding: 0;
    }
}

// Book List
#book-list {
    color: #999;
    text-align: left;

    li {
        border-bottom: 1px solid #eee;
        clear: both;
        margin: 0;
        overflow: hidden;
        padding: 10px 0;

        .review-date {
            float: right;
        }
    }

    a {
        color: #999;
        text-decoration: none;

        &:hover {
            color: #333;
        }
    }

    .book-rating {
        display: inline-block;
        min-width: 60px;

        &.five-stars,
        &.four-half-stars,
        &.four-stars {
            color: #090;
        }

        &.three-half-stars,
        &.three-stars,
        &.two-half-stars {
            color: #da9d1c;
        }

        &.two-stars,
        &.one-half-stars,
        &.one-star,
        &.half-star,
        &.zero-stars,
        &.dnf {
            color: #c00;
        }
    }
}