@media (min-width: 600px) {
  #bookdb-review-analytics-metrics {
    display: flex;
    flex-flow: row wrap;
    margin: 0 -20px; }
    #bookdb-review-analytics-metrics * {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }

  .bookdb-metric {
    padding: 20px;
    width: 50%; }

  .bookdb-metric-inner {
    background: white;
    border: 1px solid #e5e5e5;
    padding: 10px;
    text-align: center; } }
.bookdb-metric {
  position: relative; }
  .bookdb-metric .top-text {
    clear: both;
    color: #999;
    font-size: 14px; }
  .bookdb-metric h2 {
    color: #0073aa;
    font-size: 32px;
    font-weight: bold;
    margin: 0;
    padding: 0; }

.bookdb-loading {
  min-height: 30px; }

#circleG {
  width: 64px;
  margin: auto; }

.circleG {
  background-color: rgba(255, 255, 255, 0.86);
  float: left;
  height: 14px;
  margin-left: 7px;
  width: 14px;
  animation-name: bounce_circleG;
  -o-animation-name: bounce_circleG;
  -ms-animation-name: bounce_circleG;
  -webkit-animation-name: bounce_circleG;
  -moz-animation-name: bounce_circleG;
  animation-duration: 1.3675s;
  -o-animation-duration: 1.3675s;
  -ms-animation-duration: 1.3675s;
  -webkit-animation-duration: 1.3675s;
  -moz-animation-duration: 1.3675s;
  animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-direction: normal;
  -o-animation-direction: normal;
  -ms-animation-direction: normal;
  -webkit-animation-direction: normal;
  -moz-animation-direction: normal;
  border-radius: 9px;
  -o-border-radius: 9px;
  -ms-border-radius: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px; }

#circleG_1 {
  animation-delay: 0.2695s;
  -o-animation-delay: 0.2695s;
  -ms-animation-delay: 0.2695s;
  -webkit-animation-delay: 0.2695s;
  -moz-animation-delay: 0.2695s; }

#circleG_2 {
  animation-delay: 0.6355s;
  -o-animation-delay: 0.6355s;
  -ms-animation-delay: 0.6355s;
  -webkit-animation-delay: 0.6355s;
  -moz-animation-delay: 0.6355s; }

#circleG_3 {
  animation-delay: 0.8185s;
  -o-animation-delay: 0.8185s;
  -ms-animation-delay: 0.8185s;
  -webkit-animation-delay: 0.8185s;
  -moz-animation-delay: 0.8185s; }

@keyframes bounce_circleG {
  50% {
    background-color: rgba(112, 112, 112, 0.84); } }
@-o-keyframes bounce_circleG {
  50% {
    background-color: rgba(112, 112, 112, 0.84); } }
@-ms-keyframes bounce_circleG {
  50% {
    background-color: rgba(112, 112, 112, 0.84); } }
@-webkit-keyframes bounce_circleG {
  50% {
    background-color: rgba(112, 112, 112, 0.84); } }
@-moz-keyframes bounce_circleG {
  50% {
    background-color: rgba(112, 112, 112, 0.84); } }
#bookdb-book-page-wrapper {
  margin-top: 1.5em; }
  #bookdb-book-page-wrapper .postbox > h2 {
    border-bottom: 1px solid #eee;
    font-size: 14px;
    line-height: 1.4;
    margin: 0;
    padding: 8px 12px; }

.toplevel_page_bdb-books #cover {
  width: 150px; }

.bookdb-box-row {
  margin: 1.5em 0; }
  @media (min-width: 900px) {
    .bookdb-box-row {
      clear: both;
      overflow: hidden; } }
  .bookdb-box-row label {
    display: block;
    font-weight: 600;
    margin-bottom: 3px; }
    @media (min-width: 900px) {
      .bookdb-box-row label {
        float: left;
        margin: 0;
        width: 18%; } }
  .bookdb-box-row textarea,
  .bookdb-box-row input[type="text"]:not(.bookdb-color-picker):not(.text-small),
  .bookdb-box-row input[type="url"] {
    display: block;
    width: 99%; }
  .bookdb-box-row .regular-text {
    max-width: 550px; }
  .bookdb-box-row .text-small,
  .bookdb-box-row input[type="number"] {
    display: inline-block;
    width: auto; }
  .bookdb-box-row textarea {
    min-height: 250px; }
  .bookdb-box-row .bookdb-description {
    color: #666;
    display: block;
    font-size: 13px;
    font-style: italic;
    margin: 2px 0 5px; }
  @media (min-width: 900px) {
    .bookdb-box-row .bookdb-input-wrapper {
      float: right;
      width: 80%; } }

#index_title_custom {
  display: none; }

@media (min-width: 768px) {
  .bookdb-half {
    float: left;
    width: 48%; }
    .bookdb-half.last {
      float: right; }

  #bookdb-book-series-wrap .bookdb-input-wrapper {
    clear: both;
    overflow: hidden; }

  #bookdb-book-series-name-wrap {
    float: left;
    max-width: 400px;
    width: 60%; }

  #bookdb-book-series-position-wrap {
    float: left;
    max-width: 150px;
    width: 30%; } }
/* Save Box */
#bookdb-review-page-wrapper #major-publishing-actions,
#bookdb-book-page-wrapper #major-publishing-actions {
  clear: both;
  overflow: hidden; }
#bookdb-review-page-wrapper #delete-action a,
#bookdb-book-page-wrapper #delete-action a {
  color: #a00;
  text-decoration: none; }
  #bookdb-review-page-wrapper #delete-action a:hover,
  #bookdb-book-page-wrapper #delete-action a:hover {
    color: red; }

/* Tags */
.bookdb-tags-wrap input[type="text"],
.bookdb-new-checkbox-term input[type="text"] {
  float: left;
  height: 28px;
  margin: 0 4px 0 0;
  max-width: 504px;
  position: relative; }

.bookdb-tags-checklist {
  clear: both;
  font-size: 12px;
  margin-left: 14px;
  overflow: auto; }
  .bookdb-tags-checklist:before, .bookdb-tags-checklist:after {
    clear: both;
    content: ' ';
    display: table; }
  .bookdb-tags-checklist span {
    cursor: default;
    display: block;
    float: left;
    font-size: 13px;
    line-height: 1.8em;
    margin-right: 25px;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis; }
    .bookdb-tags-checklist span a {
      cursor: pointer;
      display: block;
      float: left;
      margin: 1px 0 0 -17px;
      width: 20px;
      height: 20px;
      overflow: hidden;
      position: absolute;
      text-indent: 0; }
      .bookdb-tags-checklist span a:before {
        background: none;
        color: #b4b9be;
        content: "\f153";
        display: block;
        font: normal 16px/20px dashicons;
        margin: 1px 0;
        height: 20px;
        width: 20px;
        speak: none;
        text-align: center;
        -webkit-font-smoothing: antialiased; }
      .bookdb-tags-checklist span a:hover:before {
        color: #c00; }

/* "Categories" */
.bookdb-taxonomy-checkboxes label {
  float: none;
  font-weight: normal;
  margin-bottom: 3px;
  width: auto; }

.bookdb-checkbox-wrap {
  background: #fdfdfd;
  border: 1px solid #ddd;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 1em;
  max-height: 150px;
  max-width: 550px;
  overflow-y: scroll;
  padding: .9em; }

/* Reviews on Posts */
#bdb-book-review-list table,
#bdb_book_reviews table {
  margin-bottom: 1em; }
  #bdb-book-review-list table th,
  #bdb_book_reviews table th {
    font-weight: 600; }

#bookdb-add-review-search-for-book {
  display: flex; }
  #bookdb-add-review-search-for-book select {
    margin-left: 4px;
    margin-right: 4px; }

#bookdb-add-review-fields-wrap {
  display: none; }
  #bookdb-add-review-fields-wrap .spinner {
    float: none; }

#book-layout-builder {
  clear: both;
  margin: 0 0 1em;
  overflow: hidden;
  position: relative; }
  #book-layout-builder * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  #book-layout-builder h3 {
    text-align: center;
    margin: 0 0 1em; }
  @media (min-width: 950px) {
    #book-layout-builder {
      max-width: 950px; } }

/* Saved Options */
@media (min-width: 1200px) {
  #enabled-book-settings {
    float: left;
    width: 70%; } }
#enabled-book-settings #bookdb-book-option-cover {
  background: #93648d;
  background-size: cover;
  border: none;
  color: white;
  display: block;
  margin: 0 auto 1em;
  height: 415px;
  width: 300px;
  text-align: center;
  z-index: 20; }
  #enabled-book-settings #bookdb-book-option-cover:before {
    color: rgba(255, 255, 255, 0.25);
    content: 'Book Title by Book Author';
    display: block;
    font-size: 22px;
    margin-top: -28px;
    max-width: 100%;
    padding: 0 20%;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1; }
  #enabled-book-settings #bookdb-book-option-cover .bookdb-book-option-title,
  #enabled-book-settings #bookdb-book-option-cover .bookdb-book-option-fields,
  #enabled-book-settings #bookdb-book-option-cover button {
    position: relative;
    z-index: 20; }
  #enabled-book-settings #bookdb-book-option-cover button {
    background: white; }
    #enabled-book-settings #bookdb-book-option-cover button:hover {
      background: rgba(255, 255, 255, 0.8); }
  #enabled-book-settings #bookdb-book-option-cover .bookdb-book-option-fields {
    background: white;
    color: #444;
    overflow: visible;
    padding: 5px; }
  @media (min-width: 768px) {
    #enabled-book-settings #bookdb-book-option-cover.bookdb-book-cover-align-left {
      float: left;
      margin: 0 1em 1em 0; }
    #enabled-book-settings #bookdb-book-option-cover.bookdb-book-cover-align-center {
      display: block;
      margin: 0 auto 1em; }
    #enabled-book-settings #bookdb-book-option-cover.bookdb-book-cover-align-right {
      float: right;
      margin: 0 0 1em 1em; } }

#enabled-book-settings-inner {
  background: white;
  clear: both;
  overflow: hidden;
  padding: 15px; }

/* Library of Options */
#available-book-settings {
  margin-top: 1.5em; }
  @media (min-width: 1200px) {
    #available-book-settings {
      float: right;
      margin-top: 0;
      width: 28%; } }
  #available-book-settings .bookdb-book-option-name {
    display: none; }
  #available-book-settings .bookdb-book-option button {
    display: none; }

#available-book-settings-inner {
  border: 2px dashed #ccc;
  padding: 15px; }

.bookdb-book-option {
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin: 5px 0;
  padding: 10px;
  position: relative; }
  .bookdb-book-option:hover {
    cursor: move; }
  .bookdb-book-option button {
    background: rgba(0, 0, 0, 0.05);
    border: none;
    cursor: pointer;
    font-size: 12px; }
    .bookdb-book-option button:hover {
      background: rgba(0, 0, 0, 0.1); }
  .bookdb-book-option textarea, .bookdb-book-option select, .bookdb-book-option label {
    display: block;
    width: 100%; }
  .bookdb-book-option textarea {
    height: 100px; }

.bookdb-book-option-name {
  background: white;
  color: rgba(0, 0, 0, 0.5);
  font-size: 10px;
  padding: 0 4px;
  position: absolute;
  top: 5px;
  right: 5px;
  text-transform: uppercase;
  z-index: 10; }

.bookdb-book-option-fields {
  display: none;
  margin-top: .5em;
  overflow: hidden; }

.bookdb-sortable-placeholder {
  border: 1px dashed rgba(0, 0, 0, 0.1);
  height: 40px; }

.bookdb-book-option-field-wrap {
  margin-top: .5em; }

.bookdb-new-line-option {
  margin-top: .5em; }
  .bookdb-new-line-option label {
    display: inline; }

.bookdb-table {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: .5em; }
  .bookdb-table th {
    padding: 15px 10px; }

.bookdb-settings-buttons {
  clear: both; }
  .bookdb-settings-buttons:before, .bookdb-settings-buttons:after {
    clear: both;
    content: ' ';
    display: table; }
  .bookdb-settings-buttons > p {
    float: left;
    margin: 1em 10px 1em 0;
    padding: 0; }

/*# sourceMappingURL=admin.css.map */
