.bdb-book-grid {
    display: flex;
    flex-flow: row wrap;
    margin: 0 -10px;

    &:not(.bdb-book-grid-col-2) {
        .bdb-grid-entry {
            @media (min-width: 768px) {
                flex: 0 33.3%;
            }

            @media (min-width: 992px) {
                flex: 0 25%;
            }
        }
    }
}

.bdb-grid-entry {
    flex: 0 50%;
    margin-bottom: 3em;
    padding: 10px;
    text-align: center;

    a {
        border: none;
    }
}

.bdb-read-review-link {
    display: block;
    width: 100%;
}

.bdb-pagination {
    margin: 1.5em 0;
}

@media (min-width: 768px) {
    .bdb-book-grid-number-results {
        text-align: right;
    }
}