.bdb-reading-log-widget-list {
    .bdb-reading-log-book-title {
        display: block;
        font: {
            weight: bold;
        }
    }
}

@media (min-width: 992px) {
    .bdb-book-grid.bdb-reading-log-widget-list .bdb-grid-entry {
        flex: 0 50%;
    }
}